.navbar-wapper{ 
	/*background: linear-gradient(to right, #232526, #414345);*/
	/*background-image: url(../images/circuitnode.png);*/
	/*background-color: black;*/
}
.navbar{
	background-color: white;
    margin-top: 7px;
    margin-bottom: 8px !important;
}
img{
	height: 50px;
    margin-top: 2px;
    padding-left: 4PX;
}
#techlevel{
	margin-bottom: -1px;
	margin-top: -1px;
	margin-left: 4px;
}
span{
	font-family: roboto-ltalic, serif;
	font-weight: 800;
	font-size: 30px;
}
ul.nav.navbar-nav{
	font-weight: 700;
    float: right;
    margin: 3px;
}
.navbar-nav > li > a {
    line-height: 15px;
    font-size: 16px;
    padding-top: 10px !important; 
    padding-bottom: 10px !important;
}
.navbar-toggle.icon-bar{
	background: black;
	width: 28px;
	background: black;
/*	margin-top: 16px;
    margin-right: 15px;
    margin-bottom: 14px;*/
}
.navbar-toggle{
    position: relative;
    float: right;
    background-color: black !important;
    position-top:14px;
 }
span.icon-bar{
 	background: black;
 	width: 35px;
 	display: block;
    height: 2px;
    border-radius: 1px;
 }
@face-fonts{
	font-family: roboto-black;
	src:url(../fonts/roboto-black.ttf);
}
.carousel {
    position: relative;
    top: 67px;
}